*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
li{
    list-style-type: none;
}
.goods_box ul:after{
    content: "";
    display:block;
    clear:both;
}
.goods_box ul{
    width: 1100px;
    margin:0 auto;
}
.goods_item{
    padding: 10px 6px;
    border-right: 1px solid #b6b6b6;
    float: left;
    position: relative;
    margin-bottom: 20px;
}
.goods_pic{
    padding: 2px 15px;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    transition:all 0.5s ease-in-out;
}
.goods_pic:hover{
    transform:rotate(180deg);
    box-shadow: 2px 2px 5px #b6b6b6;
}
.goods_title{
    font-size: 12px;
    text-align: left;
    color: #999;
    padding: 13px 0 7px;
    display: block;
    max-width: 100%;
    _width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sc{
    padding: 10px 5px;
}
.sc_btn{
    width: 100px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 0 2px #f10;
    height: 20px;
    background: #fc1934;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor:pointer;

}
.sc_right{
    position: absolute;
    width: 270px;
    border-left: 2px solid #b6b6b6;
    right:-270px;
    /* right:0px; */
    top: 0;
    height: 100%;
}
.sc_right ul{
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
}
.sc_pic{
    width: 40px;
    height: 40px;
    padding: 4px 6px;
    background: url(toolbars.png) #999 15px 15px no-repeat;
    position: relative;
    left: -52px;
    top: 50%;
    margin-top: -24px;
}
.sc_num{
    position: absolute;
    padding: 2px 8px;
    border-radius: 50%;
    background: red;
    color: #fff;
    top: -8px;
    left: 20px;
    z-index: 1;
}
.sc_goodsPic{
    width: 80px;
    height: 80px;
    border: 1px solid #b6b6b6;
}
.sc_goodsPic img{
    width: 100%;
    height: 100%;
}
.sc_goodsTitle{
    line-height: 40px;
    color: #999;
    margin-left: 20px;
}
.sc_goodsBtn{
    background: #fc1934;
    color: #fff;
    text-align: center;
    float: left;
    line-height: 30px;
    width: 60px;
    height: 30px;
    cursor: pointer;

}
.sc_deleteBtn{
    background: blue;
    color: #fff;
    text-align: center;
    float: left;
    line-height: 30px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}
.sc_goodsNum{
    line-height: 30px;
    font-size: 10px;
    margin-left: 5px;
}
.sc_right{
    background: #fff;
}
.sc_right li{
    height: 180px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.sc_right li button{
    width: 20px;
    height: 20px;
    background-color: orange;
    color: black;
}
#ball{width: 50px; height: 50px; background-color: black; border-radius: 50%; position: absolute; display: none}